@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --primary-colour: #5f6642;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

header {
  position: absolute;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  /* height: 5%; */
}

header nav {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: var(--primary-colour);
  padding: 0.5rem;
  font-weight: 400;
}

header nav a:hover {
  font-weight: 400;
}

.left-side {
  width: 50vw;
  height: 100vh;
  background-image: url(/assests/image-from-rawpixel-id-2299306-jpeg\ 1.png);
  background-position-x: center;
  background-size: auto;
  padding: 1rem;
  /* float: left; */
}

header h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--primary-colour);
}

.right-side {
  /* float: right; */
  width: 50vw;
  background-color: rgba(95, 102, 66, 0.35);
  padding: 11.5rem 4rem;
}

.right-side .container h1 {
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--primary-colour);
}

.right-side .container .line {
  margin-top: 3rem;
  border: none;
  background-color: var(--primary-colour);
  height: 1.7px;
}

.inputs {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 15%;
  padding: 2rem 0;
}

form .input {
  display: flex;
  flex-direction: column;
  color: var(--primary-colour);
}

form .input input {
  width: 75%;
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-radius: 30px;
  border: 2px solid var(--primary-colour);
  background: transparent;
}

form .input label {
  font-size: 0.9rem;
}

form .submitBtn {
  padding: 50px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

form .submitBtn button {
  background-color: var(--primary-colour);
  border: none;
  padding: 13px;
  width: 50%;
  text-transform: uppercase;
  color: white;
  border-radius: 25px;
}

form .submitBtn button:hover {
  border: 3px solid black;
}
